import { Injectable } from '@nestjs/common';
import { BaseHandler } from '@mvc/handlers/base.handler';
import { {{classname}}DbService } from '../data/{{classVarName}}-db.service';
import { {{classname}}Dto } from '../dtos/{{classVarName}}.dto';

@Injectable()
export class {{classname}}Handler extends BaseHandler<{{classname}}DbService, {{classname}}Dto, {{classname}}Dto> {
    constructor(dbService: {{classname}}DbService) {
        super(dbService);
    }
}
