{{>licenseInfo}}

import { Injectable } from '@nestjs/common';
import { BaseHandler } from '@mvc/handlers/base.handler';
import { {{classname}}DbService } from '../data/{{classVarName}}.service.db';
import { {{#lambda.pascalcase}}{{classVarName}}{{/lambda.pascalcase}}Dto } from '../dtos/{{classVarName}}.dto';

@Injectable()
export class {{classname}}Handler extends BaseHandler<{{classname}}DbService, {{#lambda.pascalcase}}{{classVarName}}{{/lambda.pascalcase}}Dto> {
    constructor(dbService: {{classname}}DbService) {
        super(dbService);
    }

    {{#operations}}
    {{#operation}}
    /**
     * {{summary}}
     * {{notes}}
     {{#allParams}}* @param {{paramName}} {{description}}
     {{/allParams}}
     */
    async {{nickname}}({{#allParams}}{{paramName}}: {{dataType}}{{^-last}}, {{/-last}}{{/allParams}}): Promise<any> {
        return await this.dbService.{{nickname}}({{#allParams}}{{paramName}}{{^-last}}, {{/-last}}{{/allParams}});
    }

    {{/operation}}
    {{/operations}}
}
