{{>licenseInfo}}
{{#models}}
{{#model}}
export class {{classname}}Dto {
  {{#vars}}
  {{#description}}
  /** {{description}} */
  {{/description}}
  @IsOptional()
  {{#isString}}
  @IsString()
  {{/isString}}
  {{#isBoolean}}
  @IsBoolean()
  {{/isBoolean}}
  {{#isNumber}}
  @IsNumber()
  {{/isNumber}}
  {{name}}{{^required}}?{{/required}}: {{dataType}};

  {{/vars}}
  constructor(row: any) {
    {{#vars}}
    this.{{name}} = row.{{name}};
    {{/vars}}
  }
}
{{/model}}
{{/models}}