{{>licenseInfo}}


{{#models}}
{{#model}}


{{#tsImports}}
// TS imports (auto-detected by generator)
import { {{classname}} }from '../model/{{classname}}.model';
{{/tsImports}}


export class {{classname}}Dto {
  {{#vars}}
  {{#description}}
  /** {{description}} */
  {{/description}}
  {{name}}{{^required}}?{{/required}}: {{{dataType}}};

  {{/vars}}
  constructor(row: any) {
    {{#vars}}
    this.{{name}} = row.{{name}};
    {{/vars}}
  }
}
{{/model}}
{{/models}}
