import { BaseController } from '@mvc/controllers/base.controller';
import { Controller } from '@nestjs/common';
import { {{classname}}Handler } from '../handlers/{{classVarName}}.handler';
import { {{classname}}Request } from '../http/requests/{{classVarName}}.request';
import { {{classname}}Dto } from '../dtos/{{classVarName}}.dto';
import { {{classname}}ListResponse } from '../http/responses/{{classVarName}}-list.response';
import { {{classname}}Response } from '../http/responses/{{classVarName}}.response';

@Controller('{{classVarName}}')
export class {{classname}}Controller extends BaseController<
    {{classname}}Handler,
    {{classname}}Request,
    {{classname}}Dto,
    {{classname}}Response,
    {{classname}}ListResponse,
    {{classname}}Dto
    > {
    constructor(handler: {{classname}}Handler) {
        super(handler, {{classname}}Dto, {{classname}}Response, {{classname}}ListResponse);
    }

}
