<settings>
    <activeProfiles>
        <activeProfile>default</activeProfile>
        <activeProfile>memory</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>memory</id>
            <properties>
                <MAVEN_OPTS>-Xmx4G -Xms2G</MAVEN_OPTS>
            </properties>
        </profile>
    </profiles>
</settings>
