{{>licenseInfo}}

{{#models}}
{{#model}}
export class {{classname}}Constants {
    static readonly {{#lambda.uppercase}}{{classname}}{{/lambda.uppercase}}_NOT_FOUND_ERROR: number = 404; // must customize this error code
}
{{/model}}
{{/models}}
