import { Module } from '@nestjs/common';
import { {{classname}}Controller } from './controllers/{{classVarName}}.controller';
import { {{classname}}DbService } from './data/{{classVarName}}-db.service';
import { {{classname}}Handler } from './handlers/{{classVarName}}.handler';
import { SharedModule } from '../shared/shared.module';

@Module({
    controllers: [{{classname}}Controller],
    providers: [
        {{classname}}DbService,
        {{classname}}Handler
    ], // Provide the service and handler
    exports: [], // Export the services for use in other modules
    imports: [SharedModule],
})

export class {{classname}}Module {}
