{{>licenseInfo}}

import { Module } from '@nestjs/common';
import { {{classname}}Controller } from './controllers/{{classVarName}}.service.controller';
import { {{classname}}DbService } from './data/{{classVarName}}.service.db';
import { {{classname}}Handler } from './handlers/{{classVarName}}.service.handler';

@Module({
    controllers: [{{classname}}Controller],
    providers: [
        {{classname}}DbService,
        {{classname}}Handler
    ], // Provide the service and handler
    exports: [], // Export the services for use in other modules
    imports: [], // Import any other modules needed
})

export class {{classname}}Module {}
