{{#models}}
{{#model}}
import { Injectable } from '@nestjs/common';
import { BaseDbService } from '@mvc/data/base-db.service';
import { Prisma } from "@prisma/client";
import { PrismaService } from "@prisma";
import { {{classname}}Dto } from '../dtos/{{classVarName}}.dto';
import { {{classname}}NotFoundError } from '../exceptions/{{classVarName}}-not-found-error';

@Injectable()
export class {{classname}}DbService extends BaseDbService<Prisma.{{classname}}Delegate, {{classname}}Dto, {{classname}}Dto> {
    constructor(prisma: PrismaService) {
        super({{classname}}Dto, prisma.{{classname}});
    }

    throw404(id: string): never {
        throw new {{classname}}NotFoundError(id);
    }
}
{{/model}}
{{/models}}
