import { {{classname}}rDto } from '../../dtos/{{classVarName}}.dto';
import { ListResponse } from '@mvc/http/responses/list-response';
import { ListResultset } from '@mvc/data/list-resultset';

export class {{classname}}ListResponse extends ListResponse {
    constructor(list: ListResultset<{{classname}}Dto>) {
        super(list, '{{classname}}List');
    }
}
