{{>licenseInfo}}

{{#models}}
{{#model}}

import { Response } from '@mvc/http/responses/response';
import { {{classname}}Dto } from '../../dtos/{{classVarName}}.dto';

export class {{classname}}Response extends Response {
    constructor(data: {{classname}}Dto, details?: object) {
        super(data, '{{classname}}', data.id, details);
    }
}
{{/model}}
{{/models}}
