
import { HttpResponse } from "@mvc/http/responses/http.response";
import { {{classname}}Dto } from '../../dtos/{{classVarName}}.dto';

export class {{classname}}Response extends HttpResponse {
    constructor(data: {{classname}}Dto, details?: object) {
        super(data, '{{classname}}', data.id, details);
    }
}
