{{#models}}
{{#model}}
import { IsNotEmpty, IsString, IsBoolean, IsOptional } from 'class-validator';

export class {{classname}}Request {
    {{#vars}}
        {{#description}}
        /** {{description}} */
        {{/description}}
        @IsOptional()
        {{#isString}}
        @IsString()
        {{/isString}}
        {{#isBoolean}}
        @IsBoolean()
        {{/isBoolean}}
        {{#isNumber}}
        // Add appropriate validator if needed
        {{/isNumber}}
        {{name}}: {{dataType}};
    {{/vars}}
}

{{/model}}
{{/models}}